@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');



:root {
    --default-color: #242A32
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: var(--default-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#app {
    max-width: 375px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 10px;
}


#app-detail {
    max-width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}



img {
    border-radius: 16px
}



/* SEARCH BAR */

.search-bar {
    position: relative;
}

.search-bar input {
    font-family: 'Poppins';
    min-width: 327px;
    min-height: 42px;
    border-radius: 15px;
    padding-left: 25px;
    background-color: #3A3F47;
    border: 0;
    font-size: 14px;
    color: white;
}

.search-bar input::placeholder {
    font-family: 'Poppins';
    color: #67686D;
}

.search-bar i {
    position: absolute;
    right: 10px;
    bottom: 13px;
}

/* TOP RATED */


.top-rated {
    margin-top: 21px;
    max-width: 100%;
    min-height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.top-rated-movie {
    position: relative;
    margin-left: 30px;
}

.top-rated::-webkit-scrollbar {
    display: none;
}


.movie-number {
    -webkit-text-stroke: 0.5px #0296E5;
    -webkit-text-fill-color: #242A32;
    position: absolute;
    top: 75px;
    left: 0px;
    font-size: 96px;
}

/* MENU */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding: 0;
}

.menu-bar li {
    list-style: none;
    color: white;
    margin-left: 12px;
    padding: 2px;
    cursor: pointer;
    font-size: 14px;
}

.menu-bar li:nth-child(1) {
    margin-left: 0;
}

.menu-bar li.active {
    border-bottom: 4px solid #3a3f47;
}



/* MENU MOVIES */


.menu-movies {
    max-height: 293px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    overflow-y: scroll;
}

.menu-movies::-webkit-scrollbar {
    display: none;
}


/* NAV ICONS */


.navigation {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--default-color);
    margin-top: 30px;
    width: 100%;
    z-index: 10;
}


.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #67686D;
}

.nav-icon .fa.selected {
    color: #0296E5;

}

.nav-icon p.selected {
    color: #0296E5;

}

.selected {
    color: #0296E5;
}



/* MOVIE SECTION */



.nav {
    font-family: 'Montserrat';
    color: #ECECEC;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #ECECEC;
}



/* MOVIE TITLE */


.movie_container {
    position: relative;
}

.movie_title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-top: -60px;
    z-index: 10;
}

.movie_title p {
    margin: 0;
    width: 60%;
    color: white;
}



/* ABOUT MOVIE */

.movie_details {
    color: #696974;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* MOVIE NAV  */


.movie_nav {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie_nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.movie_nav li {
    list-style: none;
    padding: 15px;
}

.movie_nav li.active {
    border-bottom: 4px solid #3A3F47;
}

.movie_nav_option {
    cursor: pointer;
}

.search-movies {
    margin-top: 21px;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 1rem
}

.search-movies::-webkit-scrollbar {
    display: none;
}

#watch-list_app {
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}

.watch-list_nav {
    font-family: 'Montserrat';
    width: 100%;
    color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
}

.watch-list_nav a {
    color: #ECECEC;
    width: 70%;
}

.watch-list_nav p {
    width: 100%;
    margin: 0;
}

/* WATCH LIST  */


.saved-movies {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.saved-movies_info {
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    margin-left: 10px;

}

.saved-movies_info p {
    margin: 0;
}


.saved_item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 24px;
}

.info {
    display: flex;
}

.info p {
    margin-left: 4px;
}


.hidden {
    display: none;
}


/* @MEDIA  */

@media only screen and (max-width: 374px) {
    #app {
        width: 100vw;
    }
    #app-detail {
        width: 100vw;
        min-height: max-content;
    }
    .search-bar input {
        min-width: 300px;
    }
    .top-rated {
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        max-width: 80%;
    }
    .movie-number {
        z-index: 10;
    }
    .menu-movies {
        width: 100%;
    }
}

@media only screen and (max-width:340px) {
    .search-bar input {
        min-width: 100px;
    }
    .top-rated {
        max-width: 65%;
        overflow-x: scroll;
        overflow-y: hidden
    }
}

@media only screen and (min-height:668) {
    #app-detail {
        width: 100vw;
        min-height: max-content;
    }
}
